<section class="bg-gray-50 dark:bg-gray-900">
<div  class="flex flex-col text-blue items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
<div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">

<div class="row">

    <div class="col-md-6 p-6 space-y-4 md:space-y-6 sm:p-8">
        <h2 class="text-2xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">Login</h2>

        <form class="form login-form space-y-4 md:space-y-6 ">
            <div class="form-group">
                <label for="email-login block mb-2 text-xl font-medium text-gray-900 dark:text-white">Username:</label>
                <input class="form-input bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="text" id="username-login"/>
            </div>
            <div class="form-group">
                <label for="password-login block mb-2 text-xl font-medium text-gray-900 dark:text-white ">password:</label>
                <input class="form-input bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="password" id="password-login" />
            </div>



            <div class="form-group ">


        
                    <button
                        class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                        type="button" id="button-login">Login</button>

            </div>


        </form>
    </div>


    <div class=" pl-6 pb-4">
        <a href="/signup">
        <button type="button"
            class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Go
            to Sign Up</button>
        </a>

    </div>

</div>


<script src="./js/login.js"></script>

</div>
</div>

</section>

